@charset "UTF-8";
* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box; }

h1 {
  font-size: 36px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 26px; }

p {
  font-size: 18px; }

.container {
  /*w ramach praktyki zrobione*/
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }

.row::before, .row::after {
  content: "";
  display: table;
  clear: both; }

[class*="col-"] {
  float: left;
  min-height: 1px;
  padding: 0 12px;
  width: 100%; }

/* -------------------------HEADER -------------------------*/
nav {
  background: #313332;
  height: 50px; }
  nav ul {
    padding: 0;
    margin: 0;
    float: right; }
    nav ul li {
      list-style: none;
      float: right; }
      nav ul li a {
        padding: 0 20px;
        text-decoration: none;
        color: #ffffff;
        display: block;
        text-transform: uppercase;
        line-height: 50px; }
        nav ul li a:hover {
          background-color: #EF501D; }
  nav img {
    float: left;
    margin: 10px 20px;
    max-height: 30px; }

/* -------------------------Hero -------------------------*/
.hero {
  background-image: url("https://images.unsplash.com/photo-1514989940723-e8e51635b782?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=cc0d121bb9686638120ca91084f670b4&auto=format&fit=crop&w=750&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 80vh;
  min-height: 550px; }

.slogan {
  background-color: rgba(0, 0, 0, 0.5);
  float: right;
  min-width: 500px;
  padding: 2% 10%;
  color: #ffffff;
  margin-top: 40vh;
  font-size: x-large; }

/* -------------------------BENEFITS -------------------------*/
.benefits > .container {
  margin: 50px auto; }
.benefits p {
  color: grey;
  max-height: 150px;
  overflow: hidden;
  text-align: center;
  letter-spacing: 1px;
  padding: 3%; }
.benefits .row,
.benefits h1 {
  display: block;
  justify-content: center;
  text-align: center; }
.benefits .header,
.benefits h1 {
  text-transform: uppercase; }
.benefits h1 {
  margin-top: 5%;
  margin-bottom: 1%; }
.benefits .col-4:hover {
  color: #00C7E8; }

/* -------------------------GALLERY -------------------------*/
.gallery img {
  object-fit: cover;
  padding: 0;
  width: 100%;
  height: 200px;
  max-height: 220px;
  margin: 0; }
.gallery [class*="col-"] {
  padding: 0 1px; }

.image {
  width: 100%;
  height: 100%;
  position: relative; }
  .image:hover .layer {
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer; }
  .image:hover .fa {
    opacity: 1; }

.layer {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #ffffff;
  text-shadow: 1px 1px #000000;
  left: 0;
  padding: 0;
  margin: 0; }
  .layer .fa {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 15px;
    opacity: 0;
    transition: .8s; }

/* -------------------------TEAM -------------------------*/
.team {
  padding: 5%; }
  .team img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex; }
  .team p {
    text-align: center;
    color: grey; }
  .team > .container > .row {
    margin: 50px auto;
    display: flex;
    justify-content: center; }
    .team > .container > .row .col-m-3 {
      position: relative;
      padding: 0;
      margin-right: 2%; }
      .team > .container > .row .col-m-3:hover p {
        transform: scale(1.2);
        text-transform: uppercase;
        font-weight: 700; }
      .team > .container > .row .col-m-3:hover img {
        opacity: 0.3;
        cursor: pointer; }
      .team > .container > .row .col-m-3:hover [class*="position-overlay-"] {
        opacity: 1;
        transition: .3s ease-in-out; }

[class*="position-overlay-"] {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 1s ease;
  border-radius: 50%;
  text-transform: uppercase; }

[class*="text-position"] {
  color: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center; }

/* -------------------------PROMO -------------------------*/
.promo {
  background-color: #F5F5F5;
  padding: 10px 0;
  max-height: 300px;
  overflow: hidden; }
  .promo .side-image {
    display: block;
    max-height: 400px;
    padding: 0; }
    .promo .side-image img {
      max-width: 120%;
      height: auto;
      margin-left: -30%; }
  .promo .promo-text {
    float: left;
    width: 100%;
    padding: 0 10px; }
    .promo .promo-text > h1 + p {
      padding-left: 0;
      text-align: left; }
    .promo .promo-text h1 {
      text-transform: uppercase;
      letter-spacing: 0.1em; }
    .promo .promo-text > p:last-of-type {
      text-align: center;
      font-style: italic; }

/* -------------------------NUMBERS -------------------------*/
.numbers .container .row .col-m-3, .numbers .container .row .col-s-12 {
  text-transform: uppercase;
  text-align: center;
  padding: 10% 0; }

.numbers p {
  color: #01C9EB;
  font-weight: 700;
  margin: 0; }

.numbers h2 {
  font-weight: 700;
  margin: 0;
  font-size: 60px; }

/* --------------------FOOTER-------------------------*/
footer {
  background: #313332;
  color: #fff; }

/* footer social buttons*/
.fa {
  border: none;
  min-height: auto;
  text-align: center;
  padding: 2%;
  min-width: 60px;
  margin: 1%;
  cursor: pointer;
  background: transparent;
  transition: background .5s, transform .5s; }

.fa:hover {
  transform: scale(1.1); }

.fa-facebook {
  color: #3B5998; }

.fa-facebook:hover {
  color: #ffffff;
  background: #3B5998; }

.fa-twitter {
  color: #4099FF; }

.fa-twitter:hover {
  color: #ffffff;
  background: #4099FF; }

.fa-google-plus {
  color: #DB5A3C; }

.fa-google-plus:hover {
  color: #ffffff;
  background: #DB5A3C; }

.fa-instagram {
  color: #5C3D2E; }

.fa-instagram:hover {
  color: #ffffff;
  background: #5C3D2E; }

.fa-github {
  color: #4183C4; }

.fa-github:hover {
  color: #ffffff;
  background: #4183C4; }

/* -------------------------Other footer -------------------------*/
footer h2 {
  float: left; }

footer hr {
  min-width: 30%;
  display: inline-block;
  text-align: center;
  margin-top: 12%;
  margin-left: 5%; }

footer .container p {
  float: left; }

footer .col-m-4 .row .bold-class {
  font-weight: 700;
  padding-left: 0; }

footer .copyright {
  background: #000000;
  text-align: center; }

/* -------------------------GRID -------------------------*/
/* -------------------------columns-------------------------*/
.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

/* --------------------offsets-------------------------*/
.col-offset-1 {
  margin-left: 8.33%; }

.col-offset-2 {
  margin-left: 16.66%; }

.col-offset-3 {
  margin-left: 25%; }

.col-offset-4 {
  margin-left: 33.33%; }

.col-offset-5 {
  margin-left: 41.66%; }

.col-offset-6 {
  margin-left: 50%; }

.col-offset-7 {
  margin-left: 58.33%; }

.col-offset-8 {
  margin-left: 66.66%; }

.col-offset-9 {
  margin-left: 75%; }

.col-offset-10 {
  margin-left: 83.33%; }

.col-offset-11 {
  margin-left: 91.66%; }

.col-offset-12 {
  margin-left: 100%; }

/* --------------------RWD grid-------------------------*/
@media (max-width: 767px) {
  /* For tablets: */
  .col-s-1 {
    width: 8.33%; }

  .col-s-2 {
    width: 16.66%; }

  .col-s-3 {
    width: 25%; }

  .col-s-4 {
    width: 33.33%; }

  .col-s-5 {
    width: 41.66%; }

  .col-s-6 {
    width: 50%; }

  .col-s-7 {
    width: 58.33%; }

  .col-s-8 {
    width: 66.66%; }

  .col-s-9 {
    width: 75%; }

  .col-s-10 {
    width: 83.33%; }

  .col-s-11 {
    width: 91.66%; }

  .col-s-12 {
    width: 100%; } }
@media (min-width: 768px) {
  /* For desktop: */
  .col-m-1 {
    width: 8.33%; }

  .col-m-2 {
    width: 16.66%; }

  .col-m-3 {
    width: 25%; }

  .col-m-4 {
    width: 33.33%; }

  .col-m-5 {
    width: 41.66%; }

  .col-m-6 {
    width: 50%; }

  .col-m-7 {
    width: 58.33%; }

  .col-m-8 {
    width: 66.66%; }

  .col-m-9 {
    width: 75%; }

  .col-m-10 {
    width: 83.33%; }

  .col-m-11 {
    width: 91.66%; }

  .col-m-12 {
    width: 100%; } }
/* --------------------RWD ------------------------*/
@media (max-width: 767px) {
  nav {
    height: auto; }

  nav li, nav ul {
    float: left;
    text-align: center;
    width: 100%; }

  nav img {
    display: none; }

  .slogan {
    float: right;
    min-width: 100px;
    padding: 2% 10%;
    margin-top: 40vh;
    font-size: small; }

  .hero {
    background-size: cover;
    background-position: right;
    /* w ramach praktyki tak sobie */
    height: 50vh;
    min-height: 450px; }

  .benefits p {
    color: grey;
    max-height: 1000px;
    overflow: -moz-scrollbars-none;
    /*nie umiem tego uci─ů─ç do np 4 wierszy max*/ }

  .team .row {
    flex-direction: column;
    align-items: center; }

  .team img {
    border-radius: 0;
    /* nie umiem zrobi─ç tego border 50%, bo obrazki robia si─Ö jajowate*/ }

  .team > .container > .row .col-m-3:hover img {
    opacity: 1; }

  .team > .container > .row .col-m-3:hover p {
    transform: none;
    text-transform: none;
    font-weight: normal; }

  [class*="position-overlay-"] {
    display: none; }

  .promo {
    max-height: 1000px;
    overflow: no-display; }

  .side-image {
    display: block;
    max-height: 300px;
    padding: 0;
    overflow: hidden; }

  .side-image img {
    max-width: 100%;
    height: auto;
    margin: 0 auto; }

  .promo-text {
    float: none;
    text-align: center; }

  footer hr {
    display: none; }

  footer .fa {
    padding: 3%;
    min-width: 50px;
    margin: 1%;
    cursor: pointer;
    background: transparent;
    transition: none;
    border: 1px solid white; }

  .fa:hover {
    transform: none; } }

/*# sourceMappingURL=style.css.map */
